<div class="container" style="margin-top: 60px">
  <div class="row">
    <!-- Register Form -->
    <div class="col-md-6 register-form">
      <h2 class="register">Register</h2>
      <form [formGroup]="newMarsu" (ngSubmit)="register()" class="w-50 mt-2 mx-auto" style="min-width: 250px;">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="Your name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="username" placeholder="Choose a username">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="family" placeholder="Family">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="race" placeholder="Race">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="food" placeholder="What do you eat ?">
        </div>
        <div class="form-group">
          <input type="date" class="form-control" formControlName="birth" placeholder="Age ">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" placeholder="Type your password">
        </div>
        <div class="w-100 d-flex justify-content-end p-2">
          <button type="submit" class="btn btn-primary" [disabled]="newMarsu.invalid">Submit</button>
          <button type="button" class="btn btn-light ml-2" (click)="resetForm(newMarsu)">Reset</button>
        </div>
      </form>
    </div>

    <!-- Login Form -->
    <div class="col-md-6 login-form">
      <h2 class="login">Login</h2>
      <form [formGroup]="registeredMarsu" (ngSubmit)="login()" class="w-50 mt-2 mx-auto" style="min-width: 250px;">
        <div class="form-group">
          <label>Login</label>
          <input type="text" class="form-control" formControlName="username" placeholder="login">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Login">
        </div>
        <div class="w-100 d-flex justify-content-end p-2">
          <button type="submit" class="btn btn-primary" [disabled]="registeredMarsu.invalid">Submit</button>
          <button type="button" class="btn btn-light ml-2" (click)="resetForm(registeredMarsu)">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

