<div class="container">
  <div class="marsu-data-container" *ngIf="(friend$ | async) as marsu">
    <div class="marsu-img">
      <img src="/assets/images/marsu1.jpg" alt="" style="width: 150px; height: 200px;">
    </div>
    <div class="marsu-data">
      <h3>{{marsu.name}}</h3>
      <p>Age : {{marsu.birth | age}}ans</p>
      <p>Famille: {{marsu.family}}</p>
      <p>Race: {{marsu.race}}</p>
      <p>Nourriture: {{marsu.food}}</p>
    </div>
  </div>
  <div class="profile-btn-container">
    <button class="btn btn-light" (click)="goToNote()">Retour</button>
  </div>
</div>
