<div class="container">
  <div class="marsu-data-container" *ngIf="friend">
    <div class="marsu-img">
      <img src="/assets/images/marsu1.jpg" alt="" style="width: 150px; height: 200px;">
    </div>
    <div class="marsu-data">
      <h3>{{friend.name}}</h3>
      <p>Age : {{friend.birth | age}}ans</p>
      <p>Famille: {{friend.family}}</p>
      <p>Race: {{friend.race}}</p>
      <p>Nourriture: {{friend.food}}</p>
    </div>
  </div>
  <div class="profile-btn-container">
    <button class="btn btn-light" (click)="goToNote()">Retour</button>
  </div>
</div>
