<div class="container-fluid mt-5" *ngIf="loggedMarsu as marsu" >
  <div class="row">
    <div class="col-md-7 profil">
      <div class="marsu-data-container">
        <div class="marsu-img">
          <img src="/assets/images/{{randomImage.img}}" alt="" style="width: 150px; height: 200px;">
        </div>
        <div class="marsu-data">
          <h3>{{marsu.name}}</h3>
          <p>Age : {{marsu.birth | age}}ans</p>
          <p>Famille: {{marsu.family}}</p>
          <p>Race: {{marsu.race}}</p>
          <p>Nourriture: {{marsu.food}}</p>
        </div>
      </div>
      <div class="profile-btn-container">
        <button class="btn btn-danger ml-auto" (click)="logout()">Déconnexion</button>
        <button class="btn btn-light ml-1" (click)="editProfile(marsu._id)">Editer</button>
      </div>
    </div>

    <div class="col-md-5 friends">
      <div class="w-100 d-flex flex-row justify-content-between">
        <p class="btn btn-primary btn-xs" (click)="goToFriends()">Amis</p>
        <p class="btn btn-primary btn-xs" (click)="goToCatalog()">Catalogue</p>
      </div>
      <div class="container" *ngIf="!displayFriends" style="overflow: auto;">
        <h4>Faites-vous des amis</h4>
        <div class="catalog">
          <ul>
            <li class="list" *ngFor="let marsu of catalog">
              <p>{{marsu.name}}</p>
              <div class="d-flex flex-row justify-content-around">
                <span>
                  <i class="material-icons" (click)="add(marsu._id)" style="cursor: pointer;">add</i>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="container" *ngIf="displayFriends">
        <h4>Liste d'amis</h4>
        <div class="friend-list" *ngIf="friendsList">
          <ul>
            <li class="list" *ngFor="let friend of friendsList">
              <p><a [routerLink]="['/friend', friend._id]" routerLinkActive>{{friend.name}}</a></p>
              <div class="d-flex flex-row justify-content-around">
                <span>
                  <i class="material-icons" (click)="deleteFriend(friend._id)" style="cursor: pointer;">delete</i>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
